.MainMenu{
	background:#333;
	height:100vh
}
	.MainMenu ul{
		list-style-type: none;
		width:100%;
	}
	.MainMenu li{
	    height: 50px;
	    text-align: center
	    width: 100%;
	    color: white;
	    padding-top:15px;
	}
	.MainMenu li:hover{
		cursor: pointer;
	}