<div class="row">	
	<div class="col-md-12">
		<h1>
			IP List <span class="IpListInfo">( {{online()}}<div class="StatusCircle online"></div> / {{offline()}}<div class="StatusCircle offline"></div>)</span>
			<button class="btn btn-primary pull-right" ng-click="ReloadState()">
				Refresh
			</button>
		</h1>
			
	</div>	
</div>
<div class="row">
	<div class="col-md-12">
		<table class="IpTable">
			<tr>
				<th>Status</th>
				<th>IP</th>
				<th>Host Name</th>
				<th></th>
			</tr>
			<tr ng-repeat="host in HostsList()">
				<td>
					<div class="StatusCircle" ng-class="{'offline':host.Status == 0, 'online':host.Status == 1}"></div>
						<span class="hidden-sm hidden-xs">{{GetStatus(host.Status)}}</span>
				</td>
				<td>{{host.IP}}</td>
				<td>{{host.HostName}}</td>
				<td><button ui-sref="Details({host:host})" class="btn btn-primary ">See details</button></td>
			</tr>
		</table>
	</div>
</div>